ProyectoWeb/Connected Services/ServiceReference1/web_service_alumno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDataAlumno">
        <s:complexType />
      </s:element>
      <s:element name="getDataAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataAlumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDataAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:getDataAlumno" />
  </wsdl:message>
  <wsdl:message name="getDataAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:getDataAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="web_service_alumnoSoap">
    <wsdl:operation name="getDataAlumno">
      <wsdl:input message="tns:getDataAlumnoSoapIn" />
      <wsdl:output message="tns:getDataAlumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="web_service_alumnoSoap" type="tns:web_service_alumnoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDataAlumno">
      <soap:operation soapAction="http://tempuri.org/getDataAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="web_service_alumnoSoap12" type="tns:web_service_alumnoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDataAlumno">
      <soap12:operation soapAction="http://tempuri.org/getDataAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="web_service_alumno">
    <wsdl:port name="web_service_alumnoSoap" binding="tns:web_service_alumnoSoap">
      <soap:address location="https://localhost:44363/web_service_alumno.asmx" />
    </wsdl:port>
    <wsdl:port name="web_service_alumnoSoap12" binding="tns:web_service_alumnoSoap12">
      <soap12:address location="https://localhost:44363/web_service_alumno.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>